@import url(<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300&family=Codystar&family=Nunito:wght@200;400;500;600;700;800;900&display=swap" rel="stylesheet">);


/*common styles*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

/*end common styles*/

/*nav bar*/

.navbar{
    width:100%;
    height:6rem;
    /*animation navbar*/
    top: -6rem;
    background-color: black;
    position:fixed;
    z-index:100; /*para que las cards no se sobrepongan al nav*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s;
    animation: animationNavbar 1s .5s forwards; 
}

/*animation navBar*/
@keyframes animationNavbar {
    0% {
        top: -6rem;
    }
    100% {
        top: 0rem;
    }
}


.navbar-link{
    color: #aaa;
    margin: 0 4rem;
    display: flex;
    z-index:100;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navbar-link.blog{
    color: rgba(255, 251, 0, 0.89);
}

.navbar-link:hover {
    color: rgb(189, 101, 2);
}

.navbar-link span{
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-top: .5rem;
}

/*end nav bar*/

/*section 1*/

.section-1{
    width:100%;
    height:100vh;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; /*crea espacios entre los elementos*/
}

.section-heading{
    font-size: 3rem;
    font-weight: 500;
    margin-top: -5rem;
    color: white;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
    /*animation fadeAnimation*/
    opacity:0;
    visibility: hidden;
    animation: fadeAnimation 1s 1.5s forwards;
}

.section-heading-text{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -10rem;
    color: white;
    text-align: center;
    letter-spacing: 0.2rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
    line-height: 40px;
    /*animation fadeAnimation*/
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 2s forwards;
}

/*animation section-heading & section-heading-text*/
@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}


/*end section 1*/

/*section competences*/

.section-competences{
    width:100%;
    height: 10vh;
    background-color:  rgb(31, 31, 31);
    position:relative; /*padre*/
}

.banner{
    width:100%;
    position: absolute; /*se tiene en cuenta la position de su padre*/
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
}

.banner-heading{
    margin-top: -12rem; /*aqui controlo que tan abajo arriba es la animacion..*/
    height: 15rem; /*aqui arregle el problema de que las letras aparecieran cortadas por el tamaño*/
    /*3d environement*/
    perspective: 50rem;
    overflow: hidden; /*arregla que había un espacio extra en la parte inferior*/
}

.banner-heading span{
    font-family: 'Nunito'; sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, 0.5);
    position:absolute;
    width:100%;
    display: flex;
    justify-content: center;
    /*3d environement*/
    transform: translate(8rem);
    opacity: 0;
    letter-spacing: 1rem;
}

/*animations of the headings 2*/

.heading-1{
    animation: animateHeading 12s 3s infinite;
}

.heading-2{
    animation: animateHeading 12s 6s infinite;
}

.heading-3{
    animation: animateHeading 12s 9s infinite;
}

.heading-4{
    animation: animateHeading 12s 12s infinite;
}


/*animations of the headings 1*/
@keyframes animateHeading {
    0%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    28% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    100% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
}


/*end section competences*/

/*section 2*/

.section-2{
    width: 100%;
    height: 40rem;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(17, 17, 17);
}

.section-heading.Projects{
    margin-top: 10px;
}

.slider {
    display: flex;
    justify-content: center;
}

.slider img{
    max-width:100%;
    margin-top: 1rem;
    display: none;
}

img { 
    width: 600px;
    height: 400px;
    padding:50px;
    cursor: pointer;
}

img.active{
    display: block;
    animation: fade 0.9s;
}

@keyframes fade{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*botones*/

.btn-container {
    height: auto;
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 25px;
    margin: 0 40px;
    cursor:pointer;
    color: black;
    background-color: rgb(248, 180, 34);
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: -35px;
}

.btn:hover{
    filter: brightness(2);
}

/*end section 2*/

/*section 3*/
.section-3{
    width: 100%;
    height: 100vh;
    background-color: rgb(31, 31, 31);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 0;  
}

.icons i{
    font-size: 8rem;
    color:white;
    padding: 4rem;
}

.icons i:hover{
    color:orange;
    cursor: pointer;
}

/*end section 3*/

/*section 4*/

.section-4 {
    width:100%;
    height: 20vh;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 3rem 0;
    position:absolute;
}

.copy-right{
    position:absolute;
    bottom: 3rem;
    font-size: 1rem;
    font-weight: 200;
    color: #eee;
    letter-spacing: .1rem;
    border-top: .1rem solid #888;
    padding-top: .6rem;
    width:100%;
    text-align: center;
}

/*end section 4*/

