@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Redressed', cursive;
    font-size: 62.5%; /*utilizar los rem + facil*/
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid gray;
}

.calculator-display {
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid gray;
    overflow-x: auto;
    font-size: 20px;
}

.calculator-keypad {
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap: wrap; /*cuando los botones superen el ancho de 500px (el padre) se creara una nueva fila abajo*/
    width:100%;
}

.keypad-button {
    width:25%;
    padding:15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid grey;
    font-size: 20px;
}

.keypad-button:hover {
    filter: brightness(80%);
    transition: filter .25s;
}

.keypad-button.yellow {
    background-color: yellow;
}

.keypad-button.large {
    width: 50%;
}

.keypad-button.dark {
    background-color: lightgray;
}